:root {
  --bg-purple: #6070ff;
  --bg-dark-blue: #172b4d;
  --bg-lavender: #ebebff;
  --bg-slate-grey: #505f79;
  --text-dark-blue: #344563;
  --font-poppins: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: var(--font-poppins);
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 226, 226);
}

h1 {
  color: var(--text-dark-blue);
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

h3 {
  color: var(--bg-dark-blue);
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

h6 {
  color: var(--bg-purple);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

p {
  padding: 1rem 0;
  color: var(--text-dark-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0.5rem 0;
}

button {
  all: unset;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid var(--bg-purple);
  transition: all 0.3s ease;
}

.outlinings {
  color: #396df2;
}

.outlinings:hover {
  background-color: var(--bg-purple);
  color: white;
}

.outlinings:active {
  background-color: white;
  color: var(--bg-purple);
}

.socials {
  display: flex;
  width: 50%;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem 0;
  gap: 1rem;
}

.icons_social__container {
  justify-content: flex-start;
}

/* .lang > li {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 12px 20px;
} */

.socials > ul > li {
  list-style: none;
  margin-right: 1rem;
}

.fa-brands {
  font-size: 30px;
  background-color: white;
  color: var(--bg-slate-grey);
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.white-back {
  background-color: white;
}

.portfolio-class {
  position: relative;
  min-width: 25vw;
  width: 375px;
  min-height: 70vh;
  background-color: #f1f1f1;
  overflow: hidden;
}

nav {
  padding: 1.5rem;
  justify-content: space-between;
}

#title {
  color: var(--bg-purple);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.icon-stack-container {
  justify-content: center;
  width: 20px;
  height: 15px;
  cursor: pointer;
  overflow: visible;
}

#icon-stack {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: var(--bg-purple);
}

#icon-stack::after {
  content: " ";
  position: absolute;
  top: -5px;
  width: 20px;
  height: 2px;
  background-color: var(--bg-purple);
}

#icon-stack::before {
  content: " ";
  position: absolute;
  top: 5px;
  width: 20px;
  height: 2px;
  background-color: var(--bg-purple);
}

.mheadline {
  background-image: url("./images/header-shapes.svg");
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6rem 1.5rem;
  border-bottom-left-radius: calc(10rem / 3);
}

.projects {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  padding: 6rem 1rem;
}

.desktop-project-container {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 88px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  width: 327px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card > .desktop-work-detail > .project_details > li {
  margin-right: 1.5rem;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card > .desktop-work-detail > .project_coding_langs > li {
  list-style: none;
  color: var(--bg-purple);
  font-size: 12px;
  background-color: var(--bg-lavender);
  border-radius: 8px;
  margin-right: 1.5rem;
  padding: 4px 12px;
}

.card > .desktop-work-detail > .project_details > li:first-child {
  list-style: none;
  color: var(--text-dark-blue);
}

.desktop-wrok-img {
  display: none;
}

.card > p {
  padding: 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6rem 1.5rem;
  border-top-right-radius: calc(10rem / 3);
  gap: 1rem;
}

.about__stacks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem 0;
}

.about_stacks__item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 1.5rem 0.5rem;
  width: 50vw;
  cursor: pointer;
  border-bottom: 1px solid #dfe1e6;
}

.about_stacks__item:hover,
.about_stacks__item-noborder {
  background-color: #f1f1f1;
}

.lang {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 80%;
}

.js {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 10px 7px;
  margin-bottom: 10px;
}

.css {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 10px 7px;
}

.html {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 10px 7px;
}

.lang > li > h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.section {
  background-image: url(images/form-img.png);
  background-position: center;
  background-color: #6070ff;
  background-repeat: no-repeat;
  height: 779px;
  width: 375px;
  border: 1px solid #ccc;
  border-radius: 70px 0 0 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.img-1 {
  display: flex;
  align-content: flex-end;
}

.form-heading {
  margin-top: 100px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #ebebff;
}

.form-para {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 10px;
  margin: 0 10px 35px 10px;
  color: #ebebff;
}

input,
textarea {
  display: block;
  justify-content: center;
  align-items: center;
  width: 327px;
  margin: auto;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 12px;
}

input {
  height: 48px;
}

textarea {
  height: 170px;
}

form > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-btn {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  margin: 20px;
  align-items: center;
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
}

::placeholder {
  color: #b3bac5;
}

.desktop-post {
  display: none;
}

.menu-list {
  display: none;
}

/* =========MEDIAL QUERRY============== */

@media only screen and (min-width: 800px) {
  .mheadline {
    width: 100%;
    height: 90vh;
    background-image: url(images/big-header-svg.svg);
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
  }

  .portfolio-class {
    width: 100%;
  }

  .desktop-about-section {
    width: 50%;
  }

  .desktop-about-section > h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 60px;
  }

  .desktop-about-section > p {
    font-size: 20px;
    line-height: 28px;
  }

  .icon-stack-container {
    display: none;
  }

  .menu-list {
    display: inline;
  }

  .menu-list > li {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    display: inline;
  }

  nav {
    padding: 15px 143px 100px 143px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .projects {
    grid-template-columns: 1fr 3.3fr 1fr;
  }

  .card {
    width: 100%;
    flex-direction: row;
  }

  .mobile-work-img {
    display: none;
  }

  .desktop-wrok-img {
    display: flex;
  }

  .desktop-work-detail {
    padding: 35px;
  }

  .desktop-work-detail > p {
    font-size: 16px;
  }

  .desktop-work-detail > h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .card > .desktop-work-detail > .project_details > li {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .reverse-work,
  .reverse-work-2 {
    flex-direction: row-reverse;
  }

  .preview_button {
    margin-top: 25px;
  }

  .hide {
    display: none;
  }

  .desktop-post {
    display: flex;
  }

  .about {
    width: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 100px 100px;
  }

  .desktop-about {
    width: 100%;
  }

  .desktop-about > h3 {
    font-size: 24px;
  }

  .desktop-lang {
    width: 50%;
  }

  .lang {
    width: 40vw;
    flex-direction: row;
    column-gap: 20px;
  }

  .container {
    width: 100%;
  }

  .section {
    width: 100%;
    background-image: url(images/desktop-contact-form.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 150px 0 0 0;
  }

  .form-para {
    width: 30%;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
  }

  .form-btn {
    margin: auto;
    margin-top: 25px;
  }

  input,
  textarea {
    width: 447px;
    border-radius: 2px;
    margin-bottom: 25px;
  }

  .desktop-form-margin {
    margin: auto;
    margin-top: 100px;
  }
}
